@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap);

/*CABEÇA*/

.cabeca{
    background-color: #171825;
    display: flex;
    height: 80px;/*altura*/
    box-shadow: 0 3px 15px 3px;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-top: 28px;
    font-weight: 800;
    font-size: 17px;
    list-style: none;
}

a{
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 20px; /* Adiciona espaçamento entre os links, espaço externo*/
    transition: 0.5s;
}

a:hover{
    color: #ffffff;
    text-shadow: 1px 1px 1px #ffffff; 
}


.logo{
    background: url(ChatGPT\ Image\ 4\ de\ jul.\ de\ 2025\,\ 23_39_00.png)center;
    background-size: cover;
    background-clip: text;
    display: flex;
    align-items: center;
    color: transparent;
    font-size: 40px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
    animation: animacao 11s linear infinite;
}

@keyframes animacao {
    to {
        background-position-x: -500px;
    }
}

/*FIM CABEÇA*/

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #171825;
}

.container-pai{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 40px;
}


.tipo{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1{
    background-color: #171825;
    width: 50%;/*largura*/
    height: 300px;
    margin: 5px;
    border-radius: 20px;
    transition: 1s;
    margin: 20px;
    color: white;
    font-size: 24px;
}

.cartao{
    background-color: #ffffff;
    width: 300px;
    height: 379px;
    margin: 20px;
    border-radius: 20px;
    background-image: url(NJNTE1306.JPG);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center center;
    transition:  /*chegada2*/ 1.5s ease, /*chegada1*/ 1.5s ease;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartao:hover {
    background-image: url(NJNTE1306.JPG) left center no-repeat;
    background-size: 600px;
    background-position: left 1% center;
}



footer{
    background-color: #000000;
    align-items: center;
    justify-content: center;
    color: #f0f8ff;
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    animation-name: animacao1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animacao1{
    0% {background-color: #000000;}
    25% {background-color: #232423;}
    50% {background-color: #2e312e;}
    75% {background-color: #1a1b1a;}
    100% {background-color: #000000;}
}