/*CABEÇA*/

header.cabeca{
    background: linear-gradient(130deg, #ff0000, #ffa0a0, #ff0000);/*degrade*/
    background-color: #ffffffce;
    display: flex;
    height: 50px;/*altura*/
    opacity: 70%;
    box-shadow: 0 3px 15px 3px;
    justify-content: space-between;
}

.botao1{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.botao1 span{ /*span serviu para fazer o botão de haburguer*/
    width: 20px;
    height: 2px;
    background: #000000;
    margin: 4px;
    border-radius: 10px;
    display: block;
    transition: 0.3;
}

logo{
    display: flex;  
    width: 10px;
    height: 100px;
    margin-top: -24px;
}   

.container-pai{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pesquisa{
    opacity: 80%;
    border-radius: 15px;
    margin: 13px;
    background-color: rgb(255, 255, 255);
}

/*FIM CABEÇA*/

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #eebcbc;
}

.tipo{
    display: flex;
    flex: 1; /*usa toda a propriedade do outro flex*/
}

.tipo .container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.container-1{
    background-color: #f52e2e;
    width: 50%;/*largura*/
    height: 300px;
    margin: 5px;
    border-radius: 20px;
    opacity: 70%;
    box-shadow: 0px 3px 15px 3px black;
    transition: 1s;
    margin: 20px;
}

.container-1:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.container-2{
    background-color: #ffffff;
    width: 50%;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
    opacity: 70%;
    box-shadow: 0px 3px 15px 3px black;
    animation-name: animacao1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: 1s;
}

.container-2:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.container-3{
    background-color: #ff2020;
    align-items: center;
    justify-content: center;
    color: #f0f8ff;
    font-size: 24px;
    font-weight: bold;
    height: 50%;
    opacity: 70%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 6px #000000;
    transition: 1s;
}

.container-3:hover{
    transform: scale(1.03);
    transition: 0.5s;
}

@keyframes animacao1{
    0% {background-color: #ff0000;}
    25% {background-color: #880000;}
    50% {background-color: #000000;}
    75% {background-color: #880000;}
    100% {background-color: #ff0000;}
}
