/*CABEÇA*/

header.cabeca{
    background-color: #ffffffce;
    display: flex;
    height: 60px;/*altura*/
    opacity: 100%;
    box-shadow: 0 3px 15px 3px;
    justify-content: space-between;
}

.container-pai{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo{
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 30px;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/*FIM CABEÇA*/

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ffffff;
}

body{
    background-color: #315252;
}

.tipo{
    display: flex;
    flex: 1; /*usa toda a propriedade do outro flex*/
}

.tipo .container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.container-1{
    background-color: #f52e2e;
    width: 50%;/*largura*/
    height: 300px;
    margin: 5px;
    border-radius: 20px;
    opacity: 70%;
    box-shadow: 0px 3px 15px 3px black;
    transition: 1s;
    margin: 20px;
}

.container-1:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 0px 19px 15px#ff0000;
}

.container-2{
    background-color: #ffffff;
    width: 50%;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
    opacity: 70%;
    box-shadow: 0px 3px 15px 3px black;
    animation-name: animacao1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: 1s;
}

.container-2:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 0px 19px 15px#48ff00;
}

.rosaIMG{
    display: flex;
    justify-content: center;
    height: 300px;
}

.container-3{
    background-color: #ff2020;
    align-items: center;
    justify-content: center;
    color: #f0f8ff;
    font-size: 24px;
    font-weight: bold;
    height: 50%;
    opacity: 70%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 6px #000000;
    transition: 1s;
}

.container-3:hover{
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 0px 0px 19px 15px#ff0000;
}

li{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p1{
    margin: 40px;
    color: #ffffff;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p2{
    margin: 40px;
    color: #ffffff;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@keyframes animacao1{
    0% {background-color: #0b500f;}
    25% {background-color: #2fa317;}
    50% {background-color: #093101;}
    75% {background-color: #2fa317;}
    100% {background-color: #0b500f;}
}
