@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap);

/*cabeça*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

.cabeca{
    background-color: #171825;
    display: flex;
    height: 80px;
    box-shadow: 0 3px 15px 3px;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 17px;
    margin-right: 40px;
}

a{
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.bosta {
   margin: 20px;
}

.animation{
    position: absolute;
    height: 3px;
    top: 60px;
    margin-left: 950px;
    z-index: 0;
    background-color: #f7f7f7;
    transition: all 0.5s ease 0s;
}

a:nth-of-type(1){
    width: 108px;
}
nav .start-home,a:nth-of-type(1):hover~.animation{
    width: 86px;
    left: 26px;
}

a:nth-of-type(2){
    width: 100px;
}
nav .start-about,a:nth-of-type(2):hover~.animation{
    width: 95px;
    left: 134px;
}


a:nth-of-type(3){
    width: 100px;
}
nav .start-projects,a:nth-of-type(3):hover~.animation{
    width: 120px;
    left: 257px;
}


a:nth-of-type(4){
    width: 100px;
}
nav .start-contact,a:nth-of-type(4):hover~.animation{
    width: 108px;
    left: 399px;
}

a:hover{
    color: #ffffff;
    text-shadow: 1px 1px 1px #ffffff; 
    cursor: pointer;
}

.logo{
    background: url(nuvens-brancas.png)center;
    background-size: cover;
    background-clip: text;
    display: flex;
    align-items: center;
    color: transparent;
    font-size: 40px;
    margin-left: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: italic;
    animation: animacao 6s linear infinite;
}

@keyframes animacao {
    to {
        background-position-x: -500px;
    }
}

/*fim cabeca*/

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #171825 ,#1a1b1a, #171825 , #1a1b1a ,#171825);
}

.container-pai{
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.tipo{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresentacao{ 
    background: transparent;
    width: 50%;
    height: 300px;
    margin: 20px;
    margin-top: 90px;
    color: white;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

/*tentar fazer a animação*/

.card-anima{
    background-color: transparent;
    margin-right: 300px;
}

.cards-anima{
    color: #ffffff;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: flex;
}

.eu-sou {
    overflow: hidden;
    position: relative;
}

.eu-sou::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 100;
}

.sou{
    color: white;
    display: block;
    height: 100%;
    padding-left: 6px;
    animation: animacao-sou 9s infinite;
}

@keyframes animacao-sou {
      10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

/* fim animação */

.nome{
    color: #ffffff;
    font-size: 75px;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
}

.cartao{
    background-color: #ffffff;
    box-shadow: #000000 0px 0px 20px 0px;
    width: 300px;
    height: 379px;
    margin: 20px;
    margin-top: 90px;
    border-radius: 20px;
    background-image: url(foto-kaue2.JPG);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center center;
    transition:  1.5s ease, 1.5s ease;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartao:hover {
    background-image: url(foto-kaue2.JPG) left center no-repeat;
    background-size: 600px;
    background-position: left 1% center;
    box-shadow: #797979 0px 0px 20px 0px;
}

hr{
    height: 2px;
    background-color: #ffffff7c;
    border: none;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 70px;
}

.containerAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-top: 40px;
    padding: 40px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    height: 1200px;
    overflow: hidden;
}

.titulos{
    font-size: 90px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
}

ul{
    font-size: 24px;
    margin-bottom: 10px
}

li{
    margin-bottom: 20px;
    color: #ffffff;
}

.btnHabilidades {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.btnEstudos{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btnHabilidades , .btnEstudos{
    display: inline-block;
    margin-top: 50px;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 700;
    border: 3px solid #ffffff;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    color: #ffffff;
    width: 622px;
    height: 70px;
} 

.btnHabilidades::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btnEstudos::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transform: translate(100%);
    transition: all .3s;
    z-index: -1;
}

.btnHabilidades:hover::before , .btnEstudos:hover::before {
    transform: translateX(0);
}

.btnHabilidades:hover {
    color: #171825;
    transition: 0.5s;
}

.btnEstudos:hover {
    color: #171825;
    transition: 0.5s;
}

.btnHabilidades.selecionado, .btnEstudos.selecionado {
    background-color: #ffffff;
    color: #171825;    
}


.habilidades-container{
    background-color: transparent;/*cor temporaria*/
    color: #ffffff;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
    padding: 20px;
    height: 250px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px; 
    position: relative;
}

.estudos-container{
    background-color: transparent;/*cor temporaria*/
    color: #ffffff;
    border-radius: 40px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    margin: 30px;
    padding: 20px;
    height: 100px;
    display: none;
    justify-items: center;
    justify-content: space-around;
}

.container-site{
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;
    border: #ffffff 1px solid;
    height: 300px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.container-site:hover{
    background-color: #ffffff;
    color: #171825;
    transition: 0.5s;
    transform: scale(1.05);
}

.container-site p{
    padding: 20px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.imgHTML{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.imgCSS{
    width: 58px;
    height: 58px;
    margin-top: 17px;
}

.imgJS{
    width: 68px;
    height: 68px;
    margin-top: 12px;
}

.imgPY{
    width: 60px;
    height: 60px;
    margin-top: 20px;
}

.imgFIGMA{
    width: 34px;
    height: 50px;
    margin-top: 21px;
}

.imgREACT{
    width: 56px;
    height: 56px;
    margin-top: 18px;
}

.imgGITHUB{
    width: 57px;
    height: 57px;
    margin-top: 17px;
}

.imgBOOTSTRAP{
    width: 60px;
    height: 50px;
    margin-top: 20px;
}

.hr2{
    height: 2px;
    background-color: #ffffff7c;
    border: none;
    margin: 60px;
}

.titulos2{
    font-size: 100px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    text-decoration: underline 2px #ffffff90;
    text-underline-offset: 30px;
}

.projetos-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 40px;
    background-color: transparent;
    color: white;
    font-family: "Montserrat", sans-serif;
    height: 1300px;
    margin-top: 50px;
}

.projetos{
    background-color: transparent;
    background-image: no-repeat;
    background-position: center center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 400px;
    margin-left: 152px;
    margin-right: 40px;
}

.projetos p {
    color: #f6e9e9;
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.projetos p2{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.carrosel {
    background-image: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.carrosel img{
    width: 100%;
    height: 100%;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

input[type="radio"] {
    display: none;
    text-decoration: none;
}

#slide1:checked ~ .slides {
    transform: translateX(0%);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

.hr3 {
    height: 2px;
    background-color: #ffffff7c;
    border: none;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
}

.titulos3 {
    font-size: 100px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.container-maps {
    border-radius: 20px;
    border: 2px solid #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
}

iframe {
    border-radius: 10px;
    border: #ffffff 2px;
}

form {
    background-color: red;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto;
    margin-right: 50px;
}

.btnENVIAR {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: all 0.5s;
    margin-top: 20px;
}

.btnENVIAR:hover {
    border-radius: 10px;
    transform: translateY(-9px);
    box-shadow: 0 7px 0 -2px #ffffff,
    0 15px 0 -4px #171825,
    0 16px 10px -3px #171825;
}

.btnENVIAR:active {
    transition: all 0.1s;
    transform: translateY(-4px);
    box-shadow: 0 2px 0 -2px #ffffff,
    0 8px 0 -4px #171825,
    0 12px 10px -3px #171825;
}

.container-maps p {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px;
}

.seuN , .seuE {
    border-radius: 15px;
    width: 100%;
    height: 70%;
    padding: 10px;
    box-shadow: #000000 0px 0px 10px 0px;
    transition: 0.5s;
    cursor: text;
}

.area-texto {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-shadow: #000000 0px 0px 10px 0px;
    transition: 0.5s;
    cursor: text;
    resize: none;
}

.seuN:hover ,  .seuE:hover , .area-texto:hover {
    box-shadow: white 0px 0px 5px 0px;
}

.seuN:focus , .seuE:focus , .area-texto:focus {
    box-shadow: white 0px 0px 10px 0px;
    transform: scale(1.02);
    transition: 0.5s;
}

footer{
    background-color: #000000;
    align-items: center;
    justify-content: center;
    color: #f0f8ff;
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    animation-name: animacao1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


@keyframes animacao1{
    0% {background-color: #000000;}
    25% {background-color: #232423;}
    50% {background-color: #2e312e;}
    75% {background-color: #1a1b1a;}
    100% {background-color: #000000;}
}
