@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap);

/*CABEÇA*/

.cabeca{
    background-color: #171825;
    display: flex;
    height: 80px;/*altura*/
    box-shadow: 0 3px 15px 3px;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-top: 28px;
    font-weight: 800;
    font-size: 17px;
    list-style: none;
}

a{
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 20px; /* Adiciona espaçamento entre os links, espaço externo*/
    transition: 0.5s;
}

a:hover{
    color: #ffffff;
    text-shadow: 1px 1px 1px #ffffff; 
}


.logo{
    background: url(nuvens.png)center;
    background-size: cover;
    background-clip: text;
    display: flex;
    align-items: center;
    color: transparent;
    font-size: 40px;
    margin-left: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
    animation: animacao 11s linear infinite;
}

@keyframes animacao {
    to {
        background-position-x: -500px;
    }
}

/*FIM CABEÇA*/

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #171825 ,#1a1b1a);
}

.container-pai{
    display: flex;
    flex-direction: column;
    gap: 40px; /* Espaço de 40px entre os filhos */
}

.tipo{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresentacao{ /*tem um container atras*/
    background:transparent;
    width: 50%;
    height: 300px;
    margin: 20px;
    margin-top: 90px;
    color: white;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

nome{
    color: #ffffff;
    font-size: 75px;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
}

.cartao{
    background-color: #ffffff;
    box-shadow: #000000 0px 0px 20px 0px;
    width: 300px;
    height: 379px;
    margin: 20px;
    margin-top: 90px;
    border-radius: 20px;
    background-image: url(kaue.JPG);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center center;
    transition:  /*chegada2*/ 1.5s ease, /*chegada1*/ 1.5s ease;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartao:hover {
    background-image: url(NJNTE1306.JPG) left center no-repeat;
    background-size: 600px;
    background-position: left 1% center;
    box-shadow: #797979 0px 0px 20px 0px;
}

hr{
    height: 2px;
    background-color: #ffffff;
    border: none;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sobre{
    display: flex;
    flex-direction: column;
    background-color: #171825;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 40px;
    box-shadow: #000000 0px 0px 20px 0px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    transition: 0.5s;
}

.sobre:hover{
    transition: 0.5s;
    transform: scale(1.02);
    box-shadow: #797979 0px 0px 20px 0px;
}

.botoes{
    color: #ffffff;
}

.habilidades, .estudos{
    background-color: transparent;
    color: #ffffff;
    border-radius: 40px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #ffffff;
    margin-right: 25px;
}

.titulos{
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
/* footer{
    background-color: #000000;
    align-items: center;
    justify-content: center;
    color: #f0f8ff;
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    animation-name: animacao1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animacao1{
    0% {background-color: #000000;}
    25% {background-color: #232423;}
    50% {background-color: #2e312e;}
    75% {background-color: #1a1b1a;}
    100% {background-color: #000000;}
} */
